*{
    margin:0;
    padding:0;
    word-break: break-all;
    box-sizing:border-box;
}
img {
    max-width:100% ;
}
p {  font-size: 2.5rem;
}
.centrar { text-align: center;
}
.contenedor { margin: auto;
            max-width:700px ;
            padding: 2em;
            border-radius: 20px;
            margin-bottom: 2em;
}
section {   background-color: white;
            margin: auto;
            border: black 1px solid;
            max-width: 700px;
            padding: 2em;
            border-radius: 20px;
            
}

.contenedor2 {
                text-align: center;
                margin: auto;
                max-width:200px ;
                vertical-align: top;
                padding-top: 1em;
                border-radius: 20px;
}
.contenedor2 p {
                display: inline-block;
                margin-left: .3em;
                margin-top: .2em;
                font-size: 4rem;
                text-align: right;
                vertical-align: top;
                
               
}

div img{     background-color: #BFDBF7;
            border-radius: 20px;
            margin-right:.3em ;
            margin-bottom: .8em;
}

.detalle { border-radius: 20px;
            max-width: 300px;
            padding: 1em;
            margin: auto;
            margin-top: 1em;
            margin-bottom: 1em;
            
            
}
.detalle div p {    margin: .6em 0;
                    font-size: 1.2em;
}
/*--------let clima-------*/
.sol {
    background-color: #ffff99;
}

.nube {
    background-color:#cccccc ;
}
.detalle-sol{border:3px #ffff00 solid;
}
.detalle-nube{border:3px #cccccc solid;
}
/*-----------------Formulario----------------------*/
form button {
            width: 50%;
            height: 40px;
            background-color: #007bff ;
            color: white;
            font-size: 1em;
            font-weight: 800;
            border-radius: 10px;
}
label {
    font-size: 1.5rem;
    text-align: left;
    display:block;
}
input {
        width: 100%;
        height: 2em;
        display:block;
        margin: auto;
        margin-top: .5em;
        margin-bottom: .5em;
        padding-left: .5em;
}
form {
    border:gainsboro solid 1px;
    width: 300px;
    text-align: center;
    margin:2em auto ;
    padding:1em 3em;
}
/*-----------Mapa---------------------------------*/
iframe {max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
        margin: auto;
}
.mapa {
    margin: auto;
    /*border: black 1px solid;*/
    text-align: center;
}
